.btns{

    transition: 0.9 ease;

}
.btns:hover{
    color: blue;
    background-color: rgb(196, 189, 189);
    border-radius: 100px;
    font-size: 30px;
}
.btns2:hover{
    color: rgb( 214,41,118);
    background-color:white;
    border-radius: 100px;
    font-size: 30px;
}
.btns3:hover{
    color: blue;
    background-color: rgb(196, 189, 189);
    border-radius: 100px;
    font-size: 30px;
}


